style
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

    
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        header, footer {
            background: #d1d1ff;
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }

        
        .middle {
            display: flex;
            flex: 1; 
        }

        .sidebar {
            width: 30%;
            background: #ffe7cc;
            padding: 20px;
            text-align: center;
        }

        .main {
            flex: 1;
            background: #ccffe6;
            padding: 20px;
            text-align: center;
        }

