 .container {
             width: 80%;
             height: 200px;
             margin: 50px auto;
             background: #f0f0f0;
             display: flex;             
             justify-content: space-between; 
             align-items: center;           
            }

.box {
       width: 80px;
       height: 80px;
       background: #ff7b7b;
       border-radius: 5px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-weight: bold;
       color: white;
     }
