* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar .logo {
    color: #fff;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: rgb(180, 103, 180);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero span {
    color: #ffd700;
}

.hero p {
    margin: 10px 0;
    font-size: 20px;
    color: whitesmoke;
}


.footer {
    padding: 40px;
    background: #333;
    color: white;
    text-align: center;
}