body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction:row;
}

.best-selling-items {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

.products-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding:20px;
    max-width: 1000px;
    margin: auto;
}

.product-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    display:inline-block;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

product-card h3 {
    font-size:12px;
    margin:10px 0

}

.product-card p {
    font-size:14px;
    color: #666;
   margin-bottom: 15px;
   font-weight: bold;

}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #ab3610;
    margin-bottom: 15px;

}

.button { 
     background-color: #1FE0D6;
    color: blue;
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 90%;
    max-width: 100px;
    
}

.button:hover {
    background-color:rgba(2, 2, 15, 0.1);
}

@media (max-width: 600px) {
    .product-card img {
        height: 150px;
    }
    .product-card h3 {
        font-size: 16px;
    }
    .product-card p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .products-card img {
        height: 180px;
    }
    .product-card h3 {
     font-size: 18px;
    }
}
